In [1]:
import sys
sys.path.append("C:/Users/jnevin/Documents/GitHub/networkdiffusionanalyser")

from netdiffanalyse.datahandling.dataintegration import ComparisonFeatures, IntegrationSetup

In [2]:
import pandas as pd
import networkx as nx

test_df = pd.read_csv('test_df.csv')
test_df.index = test_df.rec_id
test_df = test_df.drop(columns = ['rec_id'])
test_graph = nx.read_gml('test_graph.gml')

In [3]:
test_blocks = ['given_name']

In [4]:
test_compares = {'exact': [['given_name', 'given_name', 'given_name'], ['date_of_birth', 'date_of_birth', 'date_of_birth'],
                          ['suburb', 'suburb', 'suburb'], ['state', 'state', 'state']],
                'string': [['surname', 'surname', 'jarowinkler', 0.85, 'surname'], ['address_1', 'address_1', 'levenshtein', 0.85, 'address_1']]}

In [5]:
test_integration_setup = IntegrationSetup(test_blocks, test_compares, test_df)
test_integration_setup.initialise_indexer()
test_integration_setup.get_candidate_links()
test_integration_setup.initialise_comparer()

In [6]:
test_comparison = ComparisonFeatures(test_integration_setup)
test_comparison.calculate_features()

In [7]:
test_comparison.features

                             given_name  date_of_birth  suburb  state  \
rec_id_1      rec_id_2
rec-183-dup-0 rec-122-org             1              0       0      0
rec-248-org   rec-122-org             1              0       0      1
              rec-183-dup-0           1              0       0      0
rec-122-dup-0 rec-122-org             1              1       1      1
              rec-183-dup-0           1              0       0      0
...                                 ...            ...     ...    ...
rec-252-org   rec-252-dup-0           1              1       1      1
rec-48-dup-0  rec-48-org              1              1       1      1
rec-298-dup-0 rec-298-org             1              1       1      1
rec-282-org   rec-282-dup-0           1              1       1      1
rec-327-org   rec-411-org             1              0       0      0

                             surname  address_1
rec_id_1      rec_id_2
rec-183-dup-0 rec-122-org        0.0        0.0
rec-248-org   rec-122-org        0.0        0.0
              rec-183-dup-0      0.0        0.0
rec-122-dup-0 rec-122-org        1.0        1.0
              rec-183-dup-0      0.0        0.0
...                              ...        ...
rec-252-org   rec-252-dup-0      1.0        1.0
rec-48-dup-0  rec-48-org         1.0        1.0
rec-298-dup-0 rec-298-org        1.0        0.0
rec-282-org   rec-282-dup-0      1.0        0.0
rec-327-org   rec-411-org        0.0        0.0

[2082 rows x 6 columns]